<template>
  <div class="not-found">
    <h1>Error</h1>

    <p class="error">
      Page not found.
    </p>
  </div>
</template>

<style scoped>
.error {
  color: #ff3030;
  font-family: "Miso Bold";
}
</style>
